/* GENERAL SETTINGS */

body{

	background: #FFFFFF;
	color: #3f3f3f;
	font: 14px / 28px arial;
	font-family: 'Raleway', arial;
}

h1 {
	font-size: 52px;
	letter-spacing: 4px;
	margin-bottom: 20px;
}

.sectionHeader {
	background: #550D16;
	border-bottom: 6px solid #000000;
	height: 60px;
	color: #FFFFFF;
	display: inline-block;
	line-height: 60px;
	font-size: 24px;
	padding: 5px 40px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

h3 {
	font-size: 16px;
	color: #500D16;
	font-weight: bold;
	transition: all .5s ease;
}

.sectionArea {
	padding: 80px 0;

}



/* GRID SETTINGS */

.container{
	width: 90%;
	margin: 0 auto;
	display: flex;

}

.featuresBody .container ,  {
	justify-content: space-between;
}


.col3 {
	flex-grow: 1;
	width: 33.33%;
}

.engineBody .container {
	justify-content: space-between;
}

.col2 {
	flex-grow: 1;
	width: 50%;
	padding: 30px;
}




/* HOME SETTINGS */



header .logo {
	margin-right: auto;
}

header .logo img {
	display: block;
	height: 75px;

}

.menu li {
	float: left;
}

.menu li a {
	padding: 27px 17px;
	display: block;
	text-decoration: none;
	letter-spacing: 2px;
	color: #333;
	transition: all .10s ease;
}


.menu li:hover a {
	background: #500D16;
	color: #FFFFFF;
}


#mainSlider {
	height: 500px;
	background: url('../img/mainHome.jpg') center center no-repeat;
	background-size: cover;
}


.slider {
	width: 100%;
}

#mainCaption {
	height: 500px;
	background: rgba(0, 0, 0, .5);
}

.caption {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	color: #FFFFFF;
}



.featuresTop {
	text-align: center;
}

.item {
	padding: 10px 20px;
}

.zoom {
	position: relative;
	overflow: hidden;
	display: inline-block;
	width: 100%;
	vertical-align: top;
}

.zoom img {
	display: block;
	width: 100%;
	height: auto;
	transition: all .5s ease;
}

.item .itemText {
	text-align: center;
	padding: 5px;
	border: 1px solid #500D16;
}

.item:hover .zoom img {
	transform: scale(1.25);
}

.item:hover h3 {
color: #FFFFFF;
}

.item:hover .itemText {
	background: #500D16;
	color: #FFFFFF;
	transition: all .5s ease;
}

.itemText p {
	margin: 20px 0;
}

#parallax {
	background: linear-gradient(
		rgba(0, 0, 0, .7),
		rgba(0, 0, 0, .7)
	),
		
	url('../img/parallax.jpg');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	text-align: center;
}

#parallax p {
	color: #FFFFFF;
}

.engineTop {
	text-align: center;
	padding: 20px;
}

.engineContainer {
	position: relative;
	width: 100%;
}

.imageOver {
	display: block;
	width: 100%;
	height: auto;
}


footer {
	background: #500D16;
	text-align: center;
}

.footerItem {
	padding: 20px;	
}

.footerItem img{
	height: 120px;
	opacity: .5;
}


footer h3 {
	color: #FFFFFF;
	font-size: 18px;
	letter-spacing: 2px;
	margin-bottom: 10px;
}


footer p {
	color: #95a5a6;
	line-height: 20px;
}

.footerLinks a {
	text-decoration: none;
	color: #95a5a6;
	letter-spacing: 2px;
	transition: .3s ease;
}

.footerLinks a:hover {
	color: #FFFFFF;
	text-decoration: underline;
}


/* CARS SETTINGS */

#carsSlider {
	height: 250px;
	background: url('../img/slideimage.jpg') center center no-repeat;
	background-size: cover;
}


#carsCaption {
	height: 250px;
	background: rgba(0, 0, 0, .6);
}

#inspect {
	background color: #f5f5f5;
}


.inspectTop {
	text-align: center;
}

.inspectBody .col2 {
	display: flex;
}

.inspectImage {
	width: 40%;
}

.inspectImage img {
	width: 100%;
	height: auto;
}

.inspectText {
	width: 60%;
	padding-left: 10px;
}

.date {
	color: #333;
	font-size: 12px;
	font-style: italic;
}

h4 {
	color: #8B0000;
	font-size: 14px;
	font-weight: bold;
}

.inspectText a {
	float: right;
	text-decoration: none;
	color: #8B0000;
}

.inspectText a:hover {
	text-decoration: underline;
}

.projectXTop {
	text-align: center;
}

#projectX .containerFluid {
	height: 500px;
	background: url('../img/project.jpg') center center no-repeat;
	background-size: cover;
}

.captionPX {
	display: flex;
	background: rgba(0, 0, 0, .8);
	width: 100%;
	height: 500px;
}

.projectXInfo {
	position: relative;
	top: 50%;
	left: 50%;
	margin-left: 5%;
	margin-right: 5%;
	transform: translate(-50%, -50%);
}

.projectXTitle {
	color: #B22222;
	font-size: 24px;
	letter-spacing: 2px;
	margin-bottom: 20px;
}

.projectXBTN {
	background-color: #8B0000;
	cursor: pointer;
	color: #FFFFFF;
	padding: 20px 40px;
	border: none;
	margin-top: 20px;
	transition: all .5 ease;
}

.projectXBTN:hover {
	background-color: #FFFFFF;
	color: #8B0000;
}

.projectXText {
	color: #FFFFFF;
}

.projectXHiglight {
	display: inline-block;
	background-color: #8B0000;
	padding: 30px;
}

.containerFluid .col2 {
	padding: 0;
}

.projectXDetail li {
	color: #FFFFFF;
}



/* ABOUT SETTINGS */

#aboutSlider {
	height: 250px;
	background: url('../img/aboutimage.jpg') center center no-repeat;
	background-size: cover;
}


#aboutCaption {
	height: 250px;
	background: rgba(0, 0, 0, .6);
}

#ourHistory {
	background-color: #F5F5F5;
}

.ourHistoryTop {
	text-align: center;
}

.ourHistoryBody .containerFluid {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
}

.ourHistoryBody .col2 {
	display: flex;
}

.ourHistoryDate {
	flex: 1;
	text-align: center;
	background-color: #500D16;
	color: #FFFFFF;
}

.ourHistoryDate p {
	font-size: 30px;
	letter-spacing: 2px;
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.ourHistoryImage {
	flex: 2;
}

.ourHistoryImage img{
	width: 100%;
	height: 100%;
}

.ourHistoryText {
	flex: 3;
	margin-left: 10px;
}

.ourHistoryText p {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamTop {
	text-align: center;
}

.teamBody .containerFluid {
	display: flex;
	width: 100%;
}

.teamMember {
	position: relative;
	width: 100%;
}

.teamMemberImg {
	display: block;
	width: 100%;
	height: 100%;
}

.teamMemberOverlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 1;
	background-color: #500D16;
	transition: .5 ease;
}

.teamMember:hover .teamMemberOverlay {
	opacity: 0;
}

.teamMember:hover .teamMemberInfo {
	color: #FFFFFF;
	font-size: 20px;
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamTitle {
	color: #FFFFFF;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.teamMemberInfo {
	color: #FFFFFF;
	background-color: rgba(80, 13, 22, .7);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: .5 ease;
	padding: 10px;
	text-align: center;
}

/* CONTACT SETTINGS */

#contactSlider {
	height: 250px;
	background: url('../img/contact1.jpg') center center no-repeat;
	background-size: cover;
}


#contactCaption {
	height: 250px;
	background: rgba(0, 0, 0, .6);
}

#galerry {
	background-color: #f5f5f5;
}

.galerryTop {
	text-align: center;
}

* {
	box-sizing: border-box;
}

.column {
	float: left;
	width: 25%;
	padding: 20px;
}

.row::after {
	content: "";
	display: table;
	clear: both;
	padding: -20px;
}


.contactTop {
	text-align: center;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.contactForm {
	margin: 0 auto;
	width: 60%;
}

.formItem {
	margin-bottom: 10px;
	width: 100%;
}

.formField {
	color: #FFFFFF;
	background: #500D16;
	border: none;
	padding: 15.5px;
	width: 92%;
	display: block;
	font-size: 14px;
}

.formBtn {
	display: block;
	border: none;
	background: #500D16;
	color: #FFFFFF;
	padding: 12px 25px;
	cursor: pointer;
	text-decoration: none;
	font-weight: bold;
}

.formBtn:hover {
	background: #841916;
}

/* MEDIA QUERIES */

@media screen and (max-width: 960px) {
	.caption h1 {
		font-size: 32px;
		letter-spacing: 2px;
	}

	footer h3 {
		font-size: 24px;
	}
	footer p {
		font-size: 15px;
		position: relative;
		right: -15px;
	}

	footer img {
		position: relative;
		left: -50px;
	}

	.inspectBody .container {
		flex-direction: column;
	}

	.inspectBody .container .col2 {
		width: 100%;
	}

	.ourHistoryBody .col2 {
		flex-direction: column;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.column {
		flex-direction: row-reverse;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	.column {
		flex-direction: row-reverse;
		width: 40%;
		margin-left: 50px;
		margin-right: 10px;
	}


}


@media screen and (max-width: 720px) {
	header .container {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	header .logo {
		margin: 0 auto;
	}

	.caption h1 {
		font-size: 28px;
		letter-spacing: 2px;
	}

	.featuresBody .container {
		flex-direction: column;
	}

	.featuresBody .container .col3 {
		width: 80%;
		margin: 0 auto;
	}

	.engineBody .container {
		flex-direction: column;
	}

	.engineBody .container .col2 {
		width: 80%;
		padding-left: 0;
		padding-right: 0;
		margin: 0 auto;
	}

	footer .container {
		flex-direction: column;
	}

	footer .container .col3 {
		width: 100%;
	}
	.sectionHeader {
		font-size: 24px;
	}

	.inspectBody .container .col2 {
		padding-left: 0;
		padding-right: 0;
	}

	.teamMemberInfo {
		font-size: 14px;
		padding: 10px;
	}
	.teamTitle {
		font-size: 14px;
	}

	.column {
		flex-direction: column;
		width: 50%;
		margin-left: 10px;
		margin-right: 10px;
	}
 
}


@media screen and (max-width: 540px) {
	.caption h1 {
		font-size: 20px;
		letter-spacing: 0px;
	}
	.featuresBody .container .col3 {
		width: 100%;
		margin: 0 auto;
	}

	.engineBody .container .col2 {
		width: 100%;
	}

	.sectionHeader {
		font-size: 20px;
	}

	.contactForm {
		width: 80%;
		margin-left: 60px;
	}
.column {
		flex-direction: row;
		width: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

}







